html, body {
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

table {
    background-color: rgba(67, 108, 220, 0.493) !important;
    height: auto !important;
    width: 100% !important; 
    flex:1!important;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    height: auto !important;
    vertical-align: top !important;
    border: 1px solid black;
}

h1{
    margin:0 !important;
    width: 100% !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

header{
    background-color: rgba(67, 108, 220, 0.493) !important;
    text-align: center !important;
    padding: 20px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

footer{
    text-align: center !important;
    padding: 20px !important; 
    bottom: -25px !important;
    position: absolute !important;
    width: 100% !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

input, textarea {
    text-align: left !important;
    width: 300px !important;
    font-size: 16px !important; 
}

a{
    color: rgba(189, 27, 230, 0.678) !important;
}

li{
    font-size: 20px !important; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 20px !important;
}

button{
    color: white;
    background-color: green;
}

.container{
    display: block;
    width: 100%;
    text-align: center;
}

.tekstialue2 {
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 620px;
    width: 100%; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    overflow-y: auto; 
    max-height: 600px;

    /* Uudet lisäykset */
    overflow-x: auto;
}

.tekstialue2 table {
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    word-break: break-word;
}
